{% extends "base.html.twig" %}
{% block title %} <title>Profil utilisateur</title> {% endblock %}
{% block header %}
	{% include "layouts/_header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		<h2>Profil</h2>
		{% if errorUpdate is defined %}
			<p>{{errorUpdate}}</p>
		{% endif %}
		<form action="/updateUser" id="updateForm" method="post">
			<input type="text" name='name' class="input" value="{{user.name}}">
			<input type="text" name="email" class="input" value="{{user.email}}">
			<textarea name="bio" id="bio" class="textarea" {% if user.bio is not defined %} {% else %} placeholder="Rajouter sa bio ici ..." {% endif %}>{% if user.bio is defined %}{{user.bio}}{% endif %}</textarea>
			<div class="buttonContainer">
				<button class="button" id="updateButton">Mettre à jour</button>
				<a href="/deleteUser/{{user._id}}" class="button" id="deleteButton">Supprimer</a>
			</div>
		</form>
	</main>
{% endblock %}
